<html lang="ko">
<head>
  <meta charset="utf-8" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    div#app { padding: 30px; margin: 30px auto; max-width: 500px; 
      border: 1px solid #ccc; box-shadow: 3px 3px 3px #aaa;  }
    table { border-collapse: collapse; width: 400px; }
    td { padding: 5px; border: 1px solid #aaa;  text-align: center; }
    
  </style>
</head>
<body>
  <div id="app">
    <input type="text" v-model="number" v-bind:key="index" /> <br />
    <table>
        <tr v-for="i in size">
            <td>
            {{number}} * {{ i }} = {{number*i}}
        </td>
        </tr>
    </table>
  </div>

  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
          number: 2,
          size: 9
      }
    })
   </script>
</body>    
</html>

